<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Who knows answer?</title>
    </head>
    <body>
        <h1><%= message %></h1>
        <% if (roomID) { %>
            <p>Room ID: <%= roomID %></p>
            <% if (password !== "") { %>
                <p>Password: <%= password %></p>
            <% } %>
        <% } else { %>
            <a href="/">Try Again</a>
        <% } %>
    </body>
</html>