<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Enter Password</title>
    </head>
    <body>
        <h1>Enter Password for Room: <%= roomID %></h1>
        <% if (message) { %>
            <p stype="color: red;"><%= message %></p>
        <% } %>
        <form action="/verify-password/<%= roomID %>" method="post">
            <label for="password">Password:</label>
            <input type="text" id="password" name="password" required>
            <button type="submit">Enter Room</button>
        </form>
    </body>
</html>